<div class="wrapper">
    <div class="wrapper-inside">
        <div class="">
            <h2>{{wrapper.title}}</h2>
        </div>
        <div
            cdkDropList
            [cdkDropListData]="cardList"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="">
                <div *ngFor="let card of cardList">
                    <div class="example-box" cdkDrag>
                        <app-card [card]="card"></app-card>
                        
                    </div>
                </div>
            </div>
        </div>
        <app-card-new [wrapper]="wrapper" [cardList]="cardList"></app-card-new>
    </div>
</div>