<div class="container-flex col">
    <div class="m-3 p-3 bg-light">
        <div class="">
            <h2>{{wrapper.title}}</h2>
        </div>
        <div
            cdkDropList
            [cdkDropListData]="cardList"
            class="example-list"
            id="{{wrapper.id}}"
            (cdkDropListDropped)="drop($event)">
            <app-card-new [wrapper]="wrapper" [cardList]="cardList"></app-card-new>
            @for (card of cardList; track card) {
                <div class="example-box">
                    <app-card cdkDrag [cdkDragData]="card" [card]="card"></app-card>
                </div>
            }
        </div>
    </div>
</div>