.wrapper{
	margin: 10px;
	padding: 10px;
	justify-content: center;
	cursor: pointer;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
}

.wrapper h2 {
	font-size: 14px;
}