<div class="modal" *ngIf="isVisible">
  <div class="modal-content" (clickOutside)="closeModal()">
    <div class="close-modal">
      <button  (click)="closeModal()" type="button">
        <p class="close-icon">&times;</p>
      </button>
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
      <div card-title>
        <h2>
          <input type="text" id="title" formControlName="title" placeholder="Titre de la tâche">
        </h2>
        
      </div>
      <div class="form-half">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div class="form-half">
        <label for="dueDate">Date d'échéance:</label>
        <input type="datetime-local" id="dueDate" formControlName="dueDate" (clickOutside)="closeDate()">
      </div>
      <div class="form-half">
        <label for="status">Temps restant: {{progressBarValue ? progressBarValue + '%': "non défini"}} </label>
        <mat-progress-bar class="progressbar" [ngClass]="{'low': progressBarValue < 34, 'medium': progressBarValue >= 34 && progressBarValue < 66, 'high': progressBarValue >= 66}" color="accent" mode="determinate" value={{progressBarValue}}></mat-progress-bar>        
      </div>
      <div class="form-half">
        <label for="assignedTo">Assigner à:</label>
        <select id="assignedTo" formControlName="assignedTo">
          <option *ngFor="let member of membersList" [value]="member.id">{{ member.firstname }} {{ member.lastname }}</option>
        </select>
      </div>
      <div class="btn-choice">
        <button type="submit">Enregistrer</button>
        <button (click)="deleteTask()" type="button" class="btn-delete">Supprimer</button>
      </div>
    </form>
  </div>
</div>
