<div class="modal" *ngIf="isVisible">
  <div class="modal-content" (clickOutside)="closeModal()">
    <div class="close-modal">
      <button  (click)="closeModal()" type="button">
        <p class="close-icon">&times;</p>
      </button>
    </div>
    <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
      <div card-title>
        <h2>
          <input type="text" id="title" formControlName="title" placeholder="Titre de la tâche">
        </h2>
        
      </div>
      <div class="form-half">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
      </div>
      <div class="form-half">
        <label for="dueDate">Date d'échéance:</label>
        <input type="datetime-local" id="dueDate" formControlName="dueDate">
      </div>
      <div class="form-half">
        <label for="status">Statut:</label>
        <select id="status" formControlName="status">
          <option value="à faire">À faire</option>
          <option value="en cours">En cours</option>
          <option value="terminé">Terminé</option>
        </select>
      </div>
      <div class="form-half">
        <label for="assignedTo">Assigner à:</label>
        <select id="assignedTo" formControlName="assignedTo">
          <option *ngFor="let member of membersList" [value]="member.id">{{ member.firstname }} {{ member.lastname }}</option>
        </select>
      </div>
      <div class="btn-choice">
        <button type="submit">Enregistrer</button>
        <button (click)="deleteTask()" type="button" class="btn-delete">Supprimer</button>
      </div>
    </form>
  </div>
</div>
