.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal-content {
  background: #C9C19F; /* Bleu marine */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%;
  max-width: 600px;
  animation: slideIn 0.3s;
}

.form-half {
  display: inline-block;
  width: 48%; /* Chaque élément prend moins de la moitié pour s'aligner côte à côte */
  padding: 1%;
  vertical-align: top;
}

.close-btn {
  float: right;
  font-size: 1.5em;
  color: #fff;
  cursor: pointer;
}

textarea {
  width: 100%; /* Ajustez si nécessaire */
  height: 100px; /* Hauteur fixe pour la textarea */
}

input[type="datetime-local"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #f1f1f1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block; /* pour le mettre en bas du formulaire */
  width: 100%;
}

button:hover {
  background-color: #004494;
}
