<div class="modal" *ngIf="isVisible">
    <div class="modal-content">
      <span class="close-btn" (click)="closeModal()">&times;</span>
      <form [formGroup]="taskForm" (ngSubmit)="submitTask()">
        <div>
          <h2>
            <input type="text" id="title" formControlName="title">
          </h2>
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea id="description" formControlName="description"></textarea>
        </div>
        <div>
          <label for="dueDate">Date d'échéance:</label>
          <input type="datetime-local" id="dueDate" formControlName="dueDate" value="2018-06-24T09:30">
        </div>
        <div>
          <label for="assignedTo">Assigner à:</label>
          <select id="assignedTo" formControlName="assignedTo">
            <option *ngFor="let member of membersList" [value]="member.id">{{ member.firstname }} {{ member.lastname }}</option>
          </select>
        </div>
        <div>
          <label for="status">Statut:</label>
          <select id="status" formControlName="status">
            <option value="à faire">À faire</option>
            <option value="en cours">En cours</option>
            <option value="terminé">Terminé</option>
          </select>
        </div>
        <button type="submit">Enregistrer</button>
      </form>
    </div>
  </div>
