<div class="drawer">
  <div class="sidebar-service">        
    <a class="btn mx-3" (click)="goHomework()">
      <img src="../../../assets/images/Wavetask-logo.png" alt="" width="80" height="80">
    </a>
    <div class="home">
      <div class="home-icon"><i class="fa-solid fa-house"></i></div>
      <a (click)="goHomework()">Home</a>
    </div>
    <div class="sidebar-project-creation">
      <span class="projects-title">Projects</span>
      <button class="add-project-button" (click)="openCreateProjectModal()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div *ngIf="this.myUser != null">
      <div *ngFor="let project of this.myProjects" class="div-project">
        <button class="btn-project" (click)="selectProject(project)">
          <i class="fa-regular fa-folder"></i>
          <span>{{ project.title }}</span>
        </button>
      </div>
    </div>
    <div class="sidebar-tags">
      <div class="tags-title">
        <span>Tags</span>
        <button class="add-tag-button"><i class="fa fa-plus"></i></button>
      </div>
      <div class="tag-list">
        <div class="tag-item">
          <span class="tag-color" style="background-color: #ff4757;"></span>
          <span>High</span>
        </div>
        <div class="tag-item">
          <span class="tag-color" style="background-color: #ffa502;"></span>
          <span>Medium</span>
        </div>
        <div class="tag-item">
          <span class="tag-color" style="background-color: #2ed573;"></span>
          <span>Low</span>
        </div>
      </div>
    </div>
    
		<div class="sidebar-user" *ngIf="this.userService.connected">
			<a href="#" class="d-flex align-items-center text-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
			<strong class="text-dark">{{ myUser.firstname }}  {{ myUser.lastname }}</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow text-dark" aria-labelledby="dropdownUser1">
        <!-- <li><a class="dropdown-item" href="#">New project...</a></li> -->
        <li><a class="dropdown-item">Settings</a></li>
        <li><a class="dropdown-item">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" (click)="logout()">Déconnexion</a></li>
			</ul>
		</div>
      
    </div>
  </div>


