<div class="drawer">
  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="">
      <div class="">
        <div class="sidebar-service">        
          <a button class="btn  mx-3" (click)="goHomework()">
            <img 
            src="https://www.iconarchive.com/download/i120827/iconarchive/seaside/Water-Wave.1024.png" 
            alt=""
            width="50" height="50">
            TaskWave
          </a>
          <div>
            <h2>Votre espace de travail : </h2>
          </div>
          <div *ngIf="this.myUser != null">
            <p>
              Vos projets:
            </p>
            
            <div *ngFor="let project of this.myProjects" class="div-project">
              <button class="btn-project" [ngStyle]="{ 'background-image': 'url(' + project.background + ')' }" (click)="selectProject(project)">
                <span>{{project.title}}</span>
              </button>
            </div>
          </div>
          <div>
            <hr>
            <button class="btn-settings">
              <p>
                paramètres de projet:
              </p>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" (click)="toggle()" [ngClass]="{ 'active' : isActive }">

      <i class="bi bi-arrow-left-right"></i>
    </button>
  </div>
  <div class="router-container" [ngClass]="{ 'active' : isActive }">
    <router-outlet></router-outlet>
  </div>
  
</div>
