<div 
  class="offcanvas offcanvas-start w-auto" 
  data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="">
    <div class="">
      <div class="p-3 text-white bg-dark" >
        <!-- <a href="/" class="d-flex align-items-center h-100 mb-3 mb-md-0 me-md-auto text-white text-decoration-none"> -->
          <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg> -->
          
        <a button class="btn btn-dark mx-3" href="/">
          <img 
          src="https://www.iconarchive.com/download/i120827/iconarchive/seaside/Water-Wave.1024.png" 
          alt=""
          width="50" height="50">
          TaskWave
        </a>
        <!-- </a> -->
        <hr>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="button" routerLink="/project-list" class="nav-link active" aria-current="project">
              <!-- <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg> -->
              project
            </a>
          </li>
          <li class="nav-item">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </li>
        </ul>
        <hr>
      </div>
    </div>
  </div>
</div>
<!-- 
<button
  class="toggle-button"
  (click)="this.sidebarService.toggleSidenav()"
  [class.is-flipped]="sidebarService.isExpanded"
>
  <mat-icon icon>chevron_right</mat-icon>
</button> -->