.sidebar {
  width: 250px; /* Largeur de la sidebar */
  height: 100vh; /* Hauteur totale de la vue */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #B7D3F2; /* Couleur de fond */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Permet de défiler si le contenu est trop long */
  z-index: 1000; /* S'assurer que la sidebar est au-dessus du contenu */
}

.user-section {
  display: flex;
  align-items: center;
  padding: 1rem;
  /* Ajouter des styles pour la section utilisateur ici */
}

.user-icon {
  border-radius: 50%;
  margin-right: 1rem;
  /* Définir la taille de l'icône utilisateur */
}

.sidebar-item {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  /* Ajouter des styles pour les éléments de la barre latérale ici */
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit; /* Ou une couleur spécifique si tu préfères */
}

.icon {
  margin-right: 0.5rem;
  /* Définir la taille des icônes ici */
}

.projects-header {
  display: flex;
  color: gray;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  /* Ajouter des styles pour l'en-tête de la section des projets ici */
}

.add-project-btn {
  background: none;
  border: none;
  cursor: pointer;
  /* Style pour le bouton d'ajout de projet */
}
