.drawer {
  width: 250px;
  height: 100vh; 
  position: fixed; 
  left: 0;
  top: 0;
  background-color: #f8f9fa; 
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
  z-index: 1000; 
}

.drawer span{
  font-size: 14px;
}

.sidebar-service {
  display: flex;
  flex-direction: column;
  padding: 15px; 
  height: 100%; 
}




/* Home direction style */

.home {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem; 
  margin-bottom: 15px;
  width: 100%; 
  text-align: left;
  cursor: pointer;
  border-radius: 0.35rem;
  transition: background-color 0.3s ease;
}

.home:hover {
  background-color: #B6D8F2; 
  color: #346BC8;
  padding: 10px;
}

.home-icon {
  font-size: 1rem; 
  margin-right: 1.5rem; 
}

.project-search{
  display: flex;
  align-items: center;
  padding-left: 1rem;
  
}

.project-search-input{
  border-radius: 0.35rem;
  border: solid 1px #9d9d9d;
}
 
/* project style */

.sidebar-project-creation {
  display: flex;
  align-items: center;
  padding-left: 1rem; 
  margin-bottom: 1.5rem;
  justify-content: space-between;
}

.projects-title {
  font-size: 14px;
  color: grey; 
}

.add-project-button {
  background: none;
  border: none;
  cursor: pointer;
}

.add-project-button i {
  font-size: 1rem;
  color: inherit;
}


.div-project {
  display: flex;
  padding-left: 1rem;
}

.btn-project {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 0; 
  padding-right: 2rem; 
  border: none;
  background: none;
  width: 100%; 
  text-align: left;
  cursor: pointer;
  border-radius: 0.35rem;
  transition: background-color 0.3s ease;
}

.btn-project:hover {
  background-color: #B6D8F2; 
  color: #346BC8;
  padding: 10px;
}

.project-icon{
  margin-right: 1.5rem;
}

/* tags style */
.sidebar-tags {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;  
}

.tags-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: grey;
  justify-content: space-between; 
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
  padding-left: 1rem;
}

.add-tag-button {
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(0, 0, 0);
}

.add-tag-button i {
  font-size: 14px; 
}

.tag-list {
  width: 200px;
}

.tag-item {
  display: flex;
  align-items: center;
  border-radius: 0.35rem; 
  transition: background-color 0.3s ease; 
  cursor: pointer;
  margin-bottom: 5px;
  padding: 0.5rem 1rem 0.5rem 0;
}

.tag-item:hover {
  background-color: #B6D8F2; 
  color: #346BC8;
  padding: 10px;
}

.tag-color {
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  margin-right: 10px;
}

.tag-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  max-height: 15rem;
  overflow: hidden;
}


/* User style */

.sidebar-user {
  margin-top: auto; 
  width: 100%; 
  justify-content: center;
}

.dropdown-item {
  cursor: pointer;
}