
.container-list {
  width: 100%;
  height: 100vh; /* Assurez-vous que la hauteur totale est visible */
  display: flex;
  flex-direction: column; /* Organise les enfants en colonne */
  align-items: center; /* Centre les enfants horizontalement */
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Empêche le débordement */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 30px;
  margin-top: 5px;
  width: 100%;
}

.header-wrapper h1 {
  margin: 0;
  font-size: 24px;
}

.header-actions {
  display: flex;
  align-items: center;
}

.user-add-icon {
  padding: 8px 16px;
  background-color: #346BC8;
  color: rgb(249, 249, 249);
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  border: none;
}


.user-add-icon p {
  margin: 0;
}

.share-button {
  padding: 8px 16px;
  background-color: #fbfbfb;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  margin-right: 10px;
  border: solid 1px #8c8c8c;
}

.custom-dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  border: solid 1px #8c8c8c; /* Pas de bordure */
  color: #495057; /* Couleur pour l'icône, ajustable selon le thème */
  padding: 12px 16px; /* Espacement autour de l'icône pour facilité de clic */
  border-radius: 10px; /* Bouton rond */
  cursor: pointer; /* Indique que le bouton est cliquable */
}


.custom-dropdown-toggle:focus {
  outline: none; /* Supprime la bordure de focus pour un look plus net */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Lueur de focus subtile */
}


.settings-icon {
  padding: 8px; /* Espace autour de l'icône */
  border-radius: 10px;
  background-color: #e9ecef; /* Fond clair */
  color: #495057; /* Couleur de l'icône */
}

.settings-icon:hover {
  color: #ffffff;
  background-color: #0d4659;
}

.second-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.second-header p {
  padding-left: 30px;
}



.container-box {
  width: 100%; /* Assure la pleine largeur dans le flux de flex */
  height: 100%; /* Calcule la hauteur moins le header */
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* Permet le défilement horizontal si nécessaire */
  align-items: start; /* Alignement au début pour les éléments */
  margin-left: 15px;
}

/* Styles pour le drag-drop CDK */
.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


/* Cible le menu déroulant et ajuste le fond et les bordures */
.dropdown-menu.dropdown-menu-dark.text-small.shadow.text-dark.show {
  background-color: #343a40;  /* Fond noir pour le menu déroulant */
  border-color: #343a40;  /* Bordure de la même couleur que le fond pour une apparence uniforme */
}

/* Cible tous les liens dans le menu déroulant */
.dropdown-menu a.dropdown-item {
  color: #fff;  /* Couleur du texte blanc */
  background-color: #343a40;  /* Assure que le fond est noir */
}

/* Cible les boutons dans le menu déroulant pour assurer l'uniformité du style */
.dropdown-menu button {
  background: none;  /* Aucun fond pour les boutons */
  border: none;  /* Aucune bordure pour les boutons */
  width: 100%;  /* Largeur totale pour aligner avec les autres éléments */
}

/* Cible les diviseurs pour maintenir une apparence cohérente */
.dropdown-divider {
  border-top-color: #555;  /* Couleur de la bordure des diviseurs pour une meilleure visibilité sur fond noir */
}


/* Style général du conteneur du modal */




/* Style du conteneur interne du modal */
.delete-project {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  width: 90%;
  max-width: 500px; /* Taille maximale du modal */
}

/* Message de confirmation */
.confirmation-message {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Conteneur pour les boutons */
.button-choice {
  display: flex;
  justify-content: space-around;
}

/* Styles pour les boutons */
.button-choice button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel {
  background-color: #ccc; /* Gris pour annuler */
  color: #333;
}

.cancel:hover {
  background-color: #bbb; /* Un peu plus foncé au survol */
}

.delete {
  background-color: #ff4444; /* Rouge pour la suppression */
  color: white;
}

.delete:hover {
  background-color: #cc0000; /* Rouge plus foncé au survol */
}
