<!-- Conteneur principal pour le fond et le drag-drop list -->
<div cdkDropList 
     cdkDropListOrientation="horizontal" 
     class="container-list" 
     (cdkDropListDropped)="drop($event)" 
     [ngStyle]="{ 'background-image': 'url(' + this.projectService.project.background + ')'}">
     
    <!-- Header pour le titre et la description du projet -->
    <div class="header-wrapper">
        <h1>{{ this.projectService.project.title }}</h1>
        <div class="header-actions">
            <div class="user-add-icon">
                    <i class="fa-solid fa-user-plus"></i>                
            </div>
            <button class="share-button">Partager</button>
            <div class="sidebar-user" >
                

                    <button class="d-flex align-items-center text-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis-vertical settings-icon"></i>
                    </button>    
                
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow text-dark" aria-labelledby="dropdownUser1">
                    <li>
                        <button>
                            <a class="dropdown-item">Settings</a>
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <button (click)="deleteProject()">                    
                            <a class="dropdown-item" >Supprimer votre projet</a>
                        </button>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
    
    <!-- Box contenant les éléments de la liste, séparée du header -->
    <div class="container-box" cdkDropListGroup>
        <app-wrapper *ngFor="let wrapper of wrappersList" [wrapper]="wrapper" cdkDrag></app-wrapper>
        <app-wrapper-create></app-wrapper-create>
    </div>
</div>
