<!-- Conteneur principal pour le fond et le drag-drop list -->
<div cdkDropList 
     cdkDropListOrientation="horizontal" 
     class="container-list" 
     (cdkDropListDropped)="drop($event)" 
     [ngStyle]="{ 'background-image': 'url(' + this.projectService.project.background + ')'}">
     
    <!-- Header pour le titre et la description du projet -->
    <div class="header-wrapper">
        <div class="titre-description"><h1><strong>{{ this.projectService.project.title }}</strong></h1>
        <p>{{ this.projectService.project.description }}</p>
    </div>
        <div class="header-actions">
            <img src="../../../assets/svg/{{this.userService.currentUser?.icon}}" alt="{{ this.userService.currentUser?.firstname }}" width="45" height="45" class="rounded-circle me-3">

            <button class="user-add-icon">
                    <p>Membres</p>               
            </button>
            <button class="share-button">Partager</button>
            <div class="sidebar-user" >
                <button class="custom-dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </button>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow text-dark" aria-labelledby="dropdownUser1">
                    <li>
                        <button>
                            <a class="dropdown-item">Settings</a>
                        </button>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <button (click)="active = true">                    
                            <a class="dropdown-item" >Suprimer votre projet</a>
                        </button>
                    </li>
                </ul>
            </div>            
        </div>
    </div>
    <!-- <div class="second-header">
        <p>{{ this.projectService.project.description }}</p>
        <div class="filter">
            <button class="filter-button">
                <i class="fa-solid fa-filter"></i>Filtrer</button>
        </div>
    </div> -->
    
    <!-- Box contenant les éléments de la liste, séparée du header -->
    <div class="container-box" cdkDropListGroup>
        <app-modal *ngIf="active === true">
            <div class="delete-project">
                <div class="confirmation-message">
                    Etes vous sûr de bien vouloir supprimer votre projet ?
                </div>
                <div class="button-choice">
                    <button class="cancel" (click)="active = false">
                        Annuler
                    </button>
                    <button class="delete" (click)="deleteProject()">
                        Supprimer
                        </button>
                </div>
            </div>
        
        </app-modal>
        <app-wrapper *ngFor="let wrapper of wrappersList" [wrapper]="wrapper" cdkDrag></app-wrapper>
        <app-wrapper-create></app-wrapper-create>
    </div>
</div>
