<div class="container m-3 p-3">
    <h1>Connexion</h1>
    <form [formGroup]="connectionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
    <hr>
    <div class="inscription">
        <p>
            Vous n'avez pas encore de compte? Inscrivez vous!
        </p>
        <button type="button" class="btn btn-primary">
            <a [routerLink]="['/inscription']" class="text-white">Inscription</a>
        </button>
    </div>
</div>