<div *ngIf="isOpen" class="modal-background" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-content">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" >
                <div class="form-group">
                    <label for="firstname" class="form-label">Prénom</label>
                    <input type="text" class="form-control" id="firstname" formControlName="firstname">
                </div>
                <div class="form-group">
                    <label for="lastname" class="form-label">Nom</label>
                    <input type="text" class="form-control" id="lastname" formControlName="lastname">
                </div>
                <div class="form-group">
                    <label for="icon">Choisissez une icône</label>
                    <select id="icon" class="form-control" formControlName="icon">
                    <option *ngFor="let icon of iconsList" value={{icon.lien}}>
                        {{icon.lien}}
                    </option>
                    </select>
                </div>
                <button type="submit" class="submit-btn">Valider</button>
            </form>
        </div>
    </div>
</div>