<div class="container">
    <h1>TaskWave</h1>
    <p>Transformez votre manière de gérer les projets et collaborez efficacement, où que vous soyez.</p>
    <section class="popular-models">
        <h2>Créez votre espace de travail unique :</h2>
        <div class="create-project">
            <button class="create-button" (click)="openCreateProjectModal()">
                <span class="plus-icon">+</span>
            </button>
            <p>Commencez par donner un nom à votre projet, définissez les grandes lignes et invitez votre équipe à collaborer.</p>
        </div>
    </section>

    <!-- Modal pour créer un projet -->
    <app-modal [(isOpen)]="isModalOpen" (close)="closeModal()">
        <div class="modal-content">
            <h2>Créer un nouveau projet</h2>
            <p>Entrez les détails du projet ici.</p>
			<form class="project-form">
				<div class="form-group">
				  <label for="projectTitle">Titre du projet</label>
				  <input type="text" id="projectTitle" class="form-control" placeholder="Entrez le titre du projet">
				</div>
			  
				<div class="form-group">
				  <label for="projectTheme">Thème du projet</label>
				  <select id="projectTheme" class="form-control">
					<option value="">Sélectionnez un thème</option>
					<option value="light">Clair</option>
					<option value="dark">Sombre</option>
					<!-- Ajoutez d'autres thèmes ici -->
				  </select>
				</div>
			  
				<div class="form-group">
				  <label for="projectMembers">Ajouter des membres</label>
				  <input type="text" id="projectMembers" class="form-control" placeholder="Entrez les noms des membres">
				</div>
			  
				<button type="submit" class="btn-submit">Créer le projet</button>
			  </form>
			  
            <!-- Ici vous pouvez ajouter un formulaire pour saisir les détails du nouveau projet -->
        </div>
    </app-modal>

    <!-- Section Projets en Cours -->
    <section class="my-projects">
        <h2>Vos Projets en cours</h2>
        <div class="projects-container">
            <p class="project-intro">Reprenez votre projet là où vous l'avez laissé :</p>
            <div class="list-projects">
                <app-project *ngFor="let project of projects" [project]="project"></app-project>
            </div>
        </div>
    </section>
</div>
