<div class="bg-dark text-white">
    <div class="d-flex bd-highlight align-items-center">
		<div class="p-3 bd-highlight d-flex align-items-center">
			<a button class="" (click)="goHomework()">
				<img 
				src="https://www.iconarchive.com/download/i120827/iconarchive/seaside/Water-Wave.1024.png" 
				alt=""
				width="50" height="50">
			</a>
			TaskWave
			
		</div>
		<!-- Dropdown list -->
		<div class="ms-auto p-2 bd-highlight" *ngIf="!this.user.connected">
			<a class="btn btn-secondary m-3" [routerLink]="['/inscription']" >Inscription</a>
			<a class="btn btn-primary m-3" [routerLink]="['/connexion']" >Connexion</a>
		</div>
		<!-- <a [routerLink]="['/profil']" *ngIf="this.user.connected">Profil</a> -->
		<div class="dropdown ms-auto p-2 bd-highlight" *ngIf="this.user.connected">
			<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
			<strong>dude</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
			<!-- <li><a class="dropdown-item" href="#">New project...</a></li> -->
			<li><a class="dropdown-item" href="#">Settings</a></li>
			<li><a class="dropdown-item" href="#">Profile</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" (click)="logout()">Sign out</a></li>
			</ul>
		</div>
	</div>
</div>