/* Container pour la sidebar et le contenu principal */
.sidebar-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;  
    height: 100vh; 
    background-color: #f8f9fa; 
    z-index: 1000; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
  }
  
  .body-container {
    margin-left: 250px; /* Décale le contenu pour ne pas être caché par la sidebar */
    min-height: 100vh; /* Hauteur minimum */
  }
  

.router-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
