.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.content-container {
    margin-left: 250px; /* La largeur de ta sidebar */
    transition: margin-left 0.3s; /* Si tu veux une transition douce */
  }
  

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

.sidebar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 2vw;
}

.router-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100vw;
}
