.container-flex {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ajustez selon le besoin de design de votre application */
}

.create-wrapper {
    background-color: #F1F2F4;
    border-radius: 8px;
    padding: 15px;
    width: 280px; /* Assurez-vous que le wrapper prend toute la largeur disponible */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoute un léger ombrage pour un effet subtil */
    margin: 10px;
}

.form-group {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: start; /* Alignez les éléments au début pour un alignement gauche */
}

.input-new-title {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
}

.create-button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-button:hover {
    background-color: #0056b3;
}

label {
    font-size: 16px;
    color: #333;
}
