.task-card {
    max-width: 260px;
    min-width: 240px;
    height: 180px;
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alignement des enfants à gauche */
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.task-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.task-card h4, .task-card p, .task-card .dueDate, .task-card .status-and-options {
    align-self: flex-start; /* Assure que chaque élément texte s'aligne à gauche */
}

.task-card h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.2rem;
    color: #333;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task-card p {
    color: #666;
    font-size: 0.9em;
}

.task-card .status-and-options {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.status-to-do {
    background-color: #ffa502; /* Orange pour 'à faire' */
    color: white;
}

.status-in-progress {
    background-color: #346BC8; /* Bleu pour 'en cours' */
    color: white;
}

.status-done {
    background-color: #28B463; /* Vert pour 'terminé' */
    color: white;
}

.task-card .status {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 0.8em;
    color: #ffffff;
    font-weight: 600;
    margin-top: 5px;
}

.task-card .options-icon {
    color: #666;
}


.task-card .dueDate {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #666;
    margin-top: 5px;
}

.task-card .dueDate i {
    margin-right: 5px;
    color: #346BC8;
}
