<div class="task-card" (click)="openModal()">
    <div>
        <div class="status-and-options">
            <p class="status" [ngClass]="{'status-to-do': card.status === 'à faire', 'status-in-progress': card.status === 'en cours', 'status-done': card.status === 'terminé'}">{{card.status}}</p>
            <i class="fa-solid fa-ellipsis-vertical options-icon"></i>
        </div>
        <h4>{{card.title}}</h4>
        <p>{{card.description}}</p>
        <div class="dueDate">
            <i class="fa-solid fa-calendar-days"></i>
            {{card.dueDate | date: 'mediumDate'}}
        </div>
    </div>
</div>


<app-task-modal *ngIf="showModal" [isVisible]="showModal" [card]="card" [cardData]="selectedCard" (closeModalEvent)="closeModal()"></app-task-modal>
